<header class="site-header">
    <div class="wrapper" style="background-image: url({{'/assets/images/oregon_bridge.jpg' | prepend: site.baseurl}});">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> <br>
        <nav class="site-nav">
            <div class="trigger">
              <a class="page-link" href="{{  '/about' | prepend: site.baseurl }}">About</a>
              <a class="page-link" href="{{  '/publications' | prepend: site.baseurl }}">Publications</a>
              <a class="page-link" href="{{  '/archive' | prepend: site.baseurl }}">Blog Archive</a>
            </div>
        </nav>
    </div>
</header>
